<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Rewards - AstroMedibles</title>
    <%- include('./head') %>
</head>

<body>
    
    <%- include('./navbar') %>
    <!-- <br><br><br><br><br> -->
    <div class="container">
        <section>
            <div class="text-center">
                <h2 class="text-info">Rewards</h2>
                <p style="font-size: small;">🚀 Use your points to redeem dank rewards 🚀</p>
                <br>
                <h4 id="USER_POINTS" class="text-info">You have: 0 pts</h4>
                <br>
            </div>
        </section>

        <section>
            <div id="myform" class="row g-3" data-dlop="<%= dlop %>">
            </div>
            <br>
        </section>

        <%- include('./modal') %>
    </div>

    <%- include('./footer') %>

    <script type="text/javascript" src="../javascripts/rewards.js?v=1.0.1"></script>
    <script type="text/javascript" src="../javascripts/welcomepopup.js"></script>
</body>

</html>